.DiscordPage{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.disc-title{
    display: flex;
    
}

.DiscordPageTitle{
    display: flex;
    /* margin-left: 3%; */
}

.TickrBot{
    margin: 2%;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
}

.tickrDescription{
    font-size: 16px;
    /* margin-left: 3%; */
}

.tickrBotFeature{
    font-weight: bold;
    /* margin-left: 15%; */
}

.tickrFeatures, .tickrCmdTitle, .tickr-commands, .CmdTable, .tickrChangelogTitle, .changelogDesc, .tickrChangelogHow{  
    display: flex;
    margin-left: 3%;
}

.changelog{
    /* display: flex; */
    justify-content:space-evenly;
    margin-left: 3%;
    width: 90%
}

.CommandTable{
    /* display: flex; */
    margin-left: 25%;
    margin-right: 25%;
    width: 50%
}

.tickrFeatureList{
    /* display: flex; */
    margin-left: 32%;
    /* margin-right: 25%; */
    width: 50%
}

