.titleD{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    color: white;
}

.verbage{
    font-size: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 600px;
    margin-right: 620px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.discIMG{
    width: 250px;
    height: auto;
    padding-right: 30px;
}

