.modules-page{
    /* height: 100vh; */
    display: flex;
}

.modules-content{
    height: auto;
    min-height: 60vh;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.table-of-contents_container{
    background-color: lightgrey;
    width: 30%;
    margin: 10px;
    
}

.modules__text, .modules__header, .modules__container, .sub-topic__container, .sub-topic__text, .sub-topic-header{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 2%;
}

.modules__header{
    text-align: left
}

.modules__img{
    /* height: 300px; */
    width: 45%;
    align-self: center;
    margin-top: 20px;
}

.sub-topic__container{
    display: flex;
    flex-direction: column;
}

.sub-topic-header{
    margin-top: 5%;
}

.sub-topic__text{
    text-align: left;
}

.sub-topic__img{
    width: 40%;
    align-self: center;
    margin-bottom: 5%;
    /* align-self: right; */
}

.key-takes{
    margin: 0;
}

.key-list{
    list-style-type: circle;
    padding: 10;
    /* margin-bottom: 2%; */
}

.modules-welcome{
    margin: 10px;
}

.modules-nav__items:not(:last-child){
    margin-bottom: 5px;
}

.modules-nav__items:hover{
    cursor: pointer;
}

.modules-nav__title:hover{
    color: grey;
}

.modules-nav__subtopic-title:hover{
    color: grey;
}
