.modules-page{
    height: 100vh;
    display: flex;
}

.table-of-contents_container{
    background-color: lightgrey;
    width: 20%;
    margin: 20px;
    
}

.table-of-contents_header{
    text-align: center;
    font-size: 100%;
}

.Content-item{
    text-align: center;
    margin: 0;
    padding: 0;
}

.modules__container{
    display: flex;
    flex-direction: column;
}

.modules__header{
    text-align: left;
}

.modules__img{
    height: 300px;
    width: 300px;
    align-self: center;
    margin-top: 20px;
}

.sub-topic__container{
    display: flex;
    flex-direction: column;
}

.sub-topic__text{
    text-align: left
}

.sub-topic__img{
    height: 300px;
    width: 300px;
    align-self: right;
}



