.modules-page{
    /* height: 100vh; */
    display: flex;
}

.modules-content{
    height: 100vh;
}

.table-of-contents_container{
    background-color: lightgrey;
    width: 30%;
    margin: 10px;
    
}

.modules__container, .sub-topic__container{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
}

.modules__header{
    text-align: left
}

.modules__img{
    /* height: 300px; */
    width: 45%;
    align-self: center;
    margin-top: 20px;
}

.sub-topic__container{
    display: flex;
    flex-direction: column;
}

.sub-topic-header{
    margin-top: 5%;
}

.sub-topic__text{
    text-align: left;
}

.sub-topic__img{
    width: 40%;
    align-self: center;
    margin-bottom: 5%;
    /* align-self: right; */
}

.key-takes{
    margin: 0;
}

.key-list{
    list-style-type: circle;
    padding: 10;
    /* margin-bottom: 2%; */
}



