/* main-nav{
    display: flex;
    width: 50px;
    height: auto;
    margin: 0 auto;
    position: fixed;
    top: 0;
}

input[type=text]{
    float: right;
    padding: 10px;
    border: none;
    margin-top: 6px;
    margin-right: 10px;
    font-size: 17px;
}

.navList{
    list-style-type: none;
    margin: -1px;
    padding: .65%;
    overflow: hidden;
    /* background-color: #a9b9b4; 
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: right;
    align-items: baseline;
}

.nav-logo{
    /* display: flex; 
    float: left;
    width: 3.8%;
    height: auto;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(51, 51, 51);
}

.navItem{
    float: left;
    /* display: block; */
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px; 
    padding: 10px;
}

.navItem a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navItem:hover{
    background-color: #5e5d5d;
}

.searchBox{
    padding-bottom: 7px;
    padding-left: 5px;
    display: flex;
} */

.modules-tab{
    text-decoration: none;
}

