main-nav{
    width: 50px;
    height: auto;
    margin: 0 auto;
}

input[type=text]{
    float: right;
    padding: 10px;
    border: none;
    margin-top: 6px;
    margin-right: 10px;
    font-size: 17px;
}

.logo{
    float: left;
    width: 53px;
    height: auto;
    padding-left: 5px;
    background-color: #a9b9b4;
}

.navList{
    list-style-type: none;
    margin: 0;
    /* padding: 0;  */
    overflow: hidden;
    background-color: #a9b9b4;
    display: flex;
    justify-content: right;
}

.navItem{
    float: left;
    /* display: block; */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.navItem a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navItem:hover{
    background-color: #5e5d5d;
}

.searchBox{
    padding-bottom: 7px;
    padding-left: 5px;
    display: flex;
}

