.title{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(156, 218, 207);
}

.itemsList{
    background-color: white;
    justify-content: center;
    padding-left: 10px;
    width: 40%;
    margin: auto;
}

.item{
    display: inline-block;
    border:2px solid #000;
    padding: 20px;
    margin: 10px;
}
.item a{
    display: block;
    color: black;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    border: black;
}

.item:hover{
    background-color: #5e5d5d; 
    /* can't change color w/o messing with padding*/
}