.title{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(182, 240, 229);
}

.itemsList{
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    margin: auto;
}

.item{
    display: inline-block;
    border:2px solid #000;
    padding: 20px;
    margin: 10px;
    transform: all 1s;
}
.item a{
    display: block;
    color: black;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    border: black;
}

.item:hover{
    background-color: #cccccc; 
    transform: scale(1.15);
    /* can't change color w/o messing with padding*/
}