.title{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(151, 151, 151);
    color: white;
}

.itemsList{
    background-color: white;
    text-align: center;
    padding: 30px;
    /* margin: auto; */
}

.item1, .item2, .item3{
    /* display: inline-block;
    border:2px solid #000;
    overflow: auto;
    padding: 30px;
    margin: 10px;
    transform: all 1s; */

    display: inline-block;
    /* border: 2px solid #000; */
    /* overflow: auto; */
    padding: 30px;
    /* margin: 10px; */
    transform: all 1s;
}
.item1 a, .item2 a, .item3 a{
    display: block;
    color: white;
    text-align: left;
    padding: 60px;
    text-decoration: none;
    border: black;
    font-size: 16px;
}

.item1, .item2, .item3 {
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(chart.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
}


.module-box li:hover{
    background-color: #cccccc; 
    transform: scale(1.10);
}