.footer-section{
    background-color: #2E3B55;
    padding: 50px;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-title{
    display: flex;
    padding-right: 80%;
    /* width: 3.8%; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-name{
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.footer-logo{
    width: 30%;
}

.slogan{
    float: right;
    font-size: 14px;
}

ul{
    list-style-type: none;
    align-items: center;
    text-decoration: none;
}

li{
    align-items: center;
    min-width:100px;
}

.foot-link{
    padding-bottom: 10px;
    text-decoration: none;
}

.foot-link a, a:visited{
    text-decoration: none;
    color:white;
}
