.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

.ContactDesc, .ContactUsTitle, .ContactFormTitle{
    margin-left: 5%;
}

 .ContactSection{
    margin-right: 5%;
    margin-left: 5%;
    /* margin-bottom: 5%; */
}

.individContact{
    margin-left: 5%;
}

.ContactField{
    margin-right: 10%;
}

.ContactForm{
  margin: 8px;
}
